
:host {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  flex: 0 30%;

  *{
    margin: .5rem;
  }
}


.todo-list{
  font-size: 20px;
  flex: 1;
}
